@media only screen and (max-width: 767px) {
  /*NAV-BAR========================*/
  #avatar {
    display: none;
  }
  .container-nav {
    height: auto;
    display: block;
  }
  .container-nav a:link,
  a:visited {
    display: block;
    padding: 10px;
    border-left: none;
    text-align: left;
  }
  /* CERTIFICATE */
  .certificate-details {
    border-bottom: 2px solid #d6c08d;
  }
  .certificate-details img {
    width: 95%;
  }
  /* PROJECT */
  .pro1-row3 {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Tạo 2 cột tự động co dãn */
    grid-gap: 10px; /* Khoảng cách giữa các phần tử */
    border-bottom: 1px solid #858585;
  }

  .date2 {
    grid-column: 1 / 2;
  }

  .icon2 {
    grid-column: 2 / 3;
  }

  .icon3 {
    grid-column: -1/-2;
  }
  .date2 {
    margin-left: 20px;
    background-color: #1e70ff;
    width: 60px;
    color: #fff;
    border-radius: 50px;
    padding: 1px 10px;
  }
}
