/* CHUNG */
/* RESET */
* {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  line-height: 1.4;
}

body {
  max-width: 1200px;
  width: 97%;
  margin: 0px auto;
}

.bg-grey {
  background: #f7f7f7;
  height: auto;
  width: 100%;
}
.hover {
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}
h1 {
  font-size: 25px;
}
h3 {
  font-size: 15pt;
  text-transform: uppercase;
  padding: 20px 10px;
  border-bottom: 1px solid #858585;
}
p,
tr {
  color: #858585;
}
.title-black {
  color: black;
}
.row {
  padding-right: 0;
  padding-left: 0;
}

/* BANNER ======= */
#banner {
  position: relative;
}

#banner img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  object-position: top;
  filter: brightness(40%);
}

.banner-text {
  color: rgb(255, 255, 255);
  text-align: center;
  position: absolute;
  width: 30%;
  top: 35%;
  left: 35%;
}

.banner-text span {
  color: gray;
  font-size: 13px;
}
/* ABOUT ẩn thông tin user đến khi submit mail */
.personal-content {
  display: none;
}
/* ABOUT================= */
#target-container {
  background-color: #f7f7f7;
  align-self: stretch;
}
#personal-info-container {
  background-color: #f2f0f0;
  align-self: stretch;
}
#personal-info ul {
  padding-inline-start: 0px;
  list-style: none;
  color: #858585;
}
.container-about i {
  color: rgb(123, 207, 255);
}

/* JOB-INFO */

.experience-info,
.education-info,
.active-info,
.favorite-info,
.language-info,
.skill-info {
  padding: 30px 20px 0 20px;
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: auto 1fr;
  border: 2px solid rgb(170, 170, 170);
  min-height: 150px;
}
.experience-details,
.education-details,
.active-details,
.language-details,
.skill-details {
  margin-left: 20px;
  grid-column: 1/-1;
  line-height: 2;
}
.ic-toolbox,
.ic-pencil,
.ic-telescope,
.ic-mic,
.ic-tools-2 {
  font-size: 200%;
}
.marker::before {
  box-sizing: border-box; /* padding và border không làm thay đổi kích thước tổng thể */
  content: '';
  display: block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #66c5dd;
  border: 3px solid #ddd;
  position: relative;
  left: -24px;
  top: 24px;
}
/* EXPERIENCE-INFO */
.date1 {
  background-color: #1e70ff;
  color: #fff;
  border-radius: 8%;
  padding: 2px 10px;
}

/* FAVORTITE */
.favorite-details {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: fit-content;
  height: 200px;
}
.favorite-details-items {
  min-width: 80px;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
  margin-top: 20px;
}
.favorite-details-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(123, 207, 255);
  width: 10%;
  height: 10%;
  padding: 20%;
  border: 2px solid rgb(123, 207, 255);
  border-radius: 50%;
  font-size: 100%;
}
.fa-btn {
  grid-row: 3 / 4;
  margin-left: 20px;
}

/* LANGUAGE */
.divider1,
.divider3 {
  display: inline-block;
  width: 50px;
  height: 5px;
  margin: 20px 1px;
}
.divider1 {
  background-color: #1e70ff;
}
.divider3 {
  background-color: #858585;
}
/* CERTIFICATE */
.container-certificate {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto 1fr;
  margin: 10px;
}
.certificate-details li {
  list-style: none;
}
.certificate-details:last-child {
  border-bottom: none;
}
#certificate ul {
  padding: 0px;
  color: black;
}
#certificate li {
  color: #6a6a6a;
}

/* PROJECT */
.project-details {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin: 20px 100px 100px;
}
.project-item {
  border: 1px solid black;
}
.project-detail img {
  width: 100%; /* img điều chỉnh theo chiều rộng của column*/
  border-bottom: 1px solid #858585;
}

table {
  width: 100%;
  border-collapse: collapse; /*Làm cho các đường viền của các ô ghép lại thành một đường viền duy nhất.
  */
}
td {
  min-width: 110px;
  vertical-align: top;
  padding: 10px 10px;
  border-top: 1px solid #858585;
}
/* FOOTER */
#footer {
  padding: 50px 0;
  font-size: 90%;
}
.container-contact {
  float: center;
}
.inline-list {
  display: flex; /* Sử dụng flexbox để căn giữa các phần tử con */
  justify-content: center; /* Căn giữa theo chiều ngang */
  align-items: center; /* Căn giữa theo chiều dọc */
}
.inline-list li {
  display: inline-block;
  margin-right: 30px;
}
.inline-list i {
  color: #1e70ff;
}
/* ẨN THÔNG TIN NGHỀ NGHIỆP */
.job-hide {
  display: none;
  margin-bottom: 30px;
}
.btn-view {
  display: none;
}
/* XỬ LÝ CUỘN TRANG TRONG TOÀN BỘ TRANG HTML */
html {
  scroll-behavior: smooth; /* Xử lý cuộn trang mượt*/
}
