@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* NAV-BAR========= */
  .container-nav {
    /* width: 1170px; */
    height: 20px;
    margin: 10px;
    display: flex;
    padding: 30px 50px;
    align-items: center;
    justify-content: center;
  }
  #nav-bar {
    text-align: center;
    margin-bottom: 0px;
    padding: 10px;
  }

  .container-nav a {
    color: black;
    text-align: center;
    padding: 0px 16px;
    text-decoration: none;
    font-size: 17px;
    position: relative;
    text-transform: uppercase;
  }
  #nav-bar i {
    color: #1e70ff;
  }
  .separate {
    border-left: 1px solid #858585;
    border-right: 1px solid #858585;
  }
  #avatar {
    padding: 20px;
    border-left: 1px solid #858585;
    border-right: 1px solid #858585;
  }
  /* ABOUT================ */
  .container-about {
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: justify;
  }
  #personal-info-container {
    font-size: 16px;
    padding-right: 40px;
    align-self: stretch;
  }
  #target-container {
    align-items: center;
    padding-left: 30px;
    font-size: 16px;
    align-self: stretch; /* Kéo dãn chiều cao của cell để bằng nhau */
  }

  .clearfix::after {
    content: '';
    display: block;
    clear: both;
  }
  /* FAVORITE================================ */
  .favorite-details {
    flex-wrap: wrap;
  }
  /* CERTIFICATE */
  .certificate-details {
    border-bottom: 2px solid #d6c08d;
  }
  .certificate-details img {
    height: 100px;
  }
  .img-cer2 {
    padding-left: 10px;
    border-left: 2px solid #d6c08d;
  }
  /* PROJECT */
  .pro1-row3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    border-bottom: 1px solid #858585;
  }

  .date2 {
    grid-column: 1 / 2;
  }

  .icon2 {
    grid-column: 2 / 3;
  }

  .icon3 {
    grid-column: -1/-2;
  }
  .date2 {
    margin-left: 20px;
    background-color: #1e70ff;
    width: 70px;
    color: #fff;
    border-radius: 50px;
    padding: 1px 10px;
  }
}
